<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Metrics</title>
</head>
<body>

HELLO!


<form method="get" action="/metrics/calculations">


    <input type="text" name="a" placeholder="Найдено релевантных"/>
    <input type="text" name="b" placeholder="Найдено не релевантных"/>
    <input type="text" name="c" placeholder="Не найдено релевантных"/>
    <input type="text" name="d" placeholder="Не найдено не релевантных"/>

    <button type="submit">Calculate</button>

</form>

<div th:if="${calculations}">
    <p th:text="'Полнота : ' + ${calculations.get(0)}"></p>
    <p th:text="'Точность : ' + ${calculations.get(1)}"></p>
    <p th:text="'Аккуратность : ' + ${calculations.get(2)}"></p>
    <p th:text="'Ошибка : ' + ${calculations.get(3)}"></p>
    <p th:text="'F-мера : ' + ${calculations.get(4)}"></p>
</div>

<form method="get" action="/metrics/graphics">


    <input type="text" name="allDocs" placeholder="Общее количество документов по запросу"/>
    <input type="text" name="relDocs" placeholder="Количество релевантных документов"/>

    <button type="submit">Build graphic</button>

</form>

<div th:if="${graphics}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Y');

    var x1 = [[${graphics.get(0).getKey()}]];
    var x2 = [[${graphics.get(1).getKey()}]];
    var x3 = [[${graphics.get(2).getKey()}]];
    var x4 = [[${graphics.get(3).getKey()}]];

    var y1 = [[${graphics.get(0).getValue()}]];
    var y2 = [[${graphics.get(1).getValue()}]];
    var y3 = [[${graphics.get(2).getValue()}]];
    var y4 = [[${graphics.get(3).getValue()}]];


                  data.addRows([
                    [x1, y1],
                    [x2, y2],
                    [x3, y3],
                    [x4, y4]
                    ]);

      var options = {
        hAxis: {
          title: 'Recall'
        },
        vAxis: {
          title: 'Precision'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
    </script>
    <div id="chart_div"></div>
</div>


</body>
</html>