<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Metrics</title>
</head>
<body>

HELLO!


<form method="get" action="/metrics/calculations">


    <input type="text" name="a" placeholder="Найдено релевантных"/>
    <input type="text" name="b" placeholder="Найдено не релевантных"/>
    <input type="text" name="c" placeholder="Не найдено релевантных"/>
    <input type="text" name="d" placeholder="Не найдено не релевантных"/>

    <button type="submit">Calculate</button>

</form>

<div th:if="${calculations}">
    <p th:text="'Полнота : ' + ${calculations.get(0)}"></p>
    <p th:text="'Точность : ' + ${calculations.get(1)}"></p>
    <p th:text="'Аккуратность : ' + ${calculations.get(2)}"></p>
    <p th:text="'Ошибка : ' + ${calculations.get(3)}"></p>
    <p th:text="'F-мера : ' + ${calculations.get(4)}"></p>
</div>

<form method="get" action="/metrics/graphics">


    <input type="text" name="allDocs" placeholder="Общее количество документов по запросу"/>
    <input type="text" name="relDocs" placeholder="Количество релевантных документов"/>

    <button type="submit">Build graphic</button>

</form>

<div th:if="${graphics}">
    <div th:text="${graphics}"></div>
</div>


</body>
</html>